:root {
  --blue: rgb(88, 164, 246);
  --light: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* 字体 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

textarea {
  display: block;
  margin: 0;
  outline: none;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
    font-size: 14px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }

  .toast-enter-active, .toast-leave-active {
    transition: all 0.3s ease;
  }

  .toast-enter-from {
    transform: translateX(100%);
    opacity: 0;
  }

  .toast-leave-to {
    transform: translateX(100%);
    opacity: 0;
  }

  .toast.info {
    background-color: #000000;
  }

  .toast.success {
    background-color: #4B9E5F;
  }

  .toast.error {
    background-color: #FF4D4F;
  }

@media (prefers-color-scheme: light) {
  body {
    background-color: #f4f4f4;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #f4f4f4;
  }

  ::-webkit-scrollbar-thumb {
    border-color: #f4f4f4;
  }

  :root {
    --color: #000000;
    --bg: #F5F7FA;
    --main-card-bg: #fff;
    --other-bg: #F5F7FA;
    --input-bg: #F9FAFB;
  }
}

@media (prefers-color-scheme: dark) {
  &::-webkit-scrollbar-track-piece {
    background-color: #303133;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-color: #303133;
  }

  body {
    background-color: #303133;
    /* color: #fff; */
  }

  :root {
    --color: #ffffff;
    --bg: #303133;
    --main-card-bg: #181818;
    --other-bg: #282828;
    --input-bg: #282828;
  }
}
